openapi: 3.0.3
info:
  title: Rightsline Availability Catalog API
  description: The Rightsline API is organized around a REST architecture with predictable, resource-oriented URLs and HTTP response codes to indicate errors. It enables real-time integrations for rights management, royalty calculations, availability checking, and workflow automation for media and entertainment companies. Supports bulk operations of up to 100 records per request.
  version: v4
  contact:
    name: Rightsline API Documentation
    url: https://api-docs.rightsline.com/
  termsOfService: https://www.rightsline.com/terms-of-service/
servers:
- url: https://app.rightsline.com/v4
  description: US Production
- url: https://app.rightsline.eu/v4
  description: EU Production
tags:
- name: Catalog
  description: Content catalog and product management
paths:
  /catalog:
    get:
      operationId: listCatalog
      summary: List Catalog
      description: Returns a list of product catalog entries.
      tags:
      - Catalog
      parameters:
      - name: limit
        in: query
        schema:
          type: integer
          default: 25
      - name: offset
        in: query
        schema:
          type: integer
          default: 0
      security:
      - ApiKey: []
      responses:
        '200':
          description: Catalog entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CatalogEntry'
components:
  schemas:
    CatalogEntry:
      type: object
      description: A product catalog entry
      properties:
        id:
          type: string
        title:
          type: string
        type:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: Bearer token obtained by exchanging Company API Key + Access Key + Secret Access Key. Generate credentials in app.rightsline.com Profile > API Access.
